// customizing elh/hitchens

$brand-color:         #fafafa;                     // white on white background
$highlight:           darken($brand-color, 10%);   // adjust because of white on white
$text-color:          #0b0404;
$muted-text-color:    #0b0404;                     // same color as text-color
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
